body{
    background-color: white;
}
#title {
    background-color: yellow;
    font-family: Comic Neue;
    padding: 10px;
    padding-top: 10px;
    margin: 0px
}
#backdoor {
    background-color: white;
    border: 3px solid black;
    padding: 7px;
    float: right;
    width: 180px;
    border-radius: 5px;
    margin-right:6px;
}

a:link {
    color: cyan;
}
a:hover {
    color: rgb(179, 255, 255);
}
a:visited {
    color: rgb(0, 169, 169);
}