body{
    background-color: white;
    height: 3000px;
}
.darkmode{
    color: black;
}
#title {
    background-color: yellow;
    font-family: Comic Neue;
    padding: 10px;
    padding-top: 10px;
    margin: 0px;
}
#ball{
    position: absolute;
    z-index: 0;
}
#theme {
    position: absolute;
    right: 10px;
    top: 5px;
}
#themelabel{
    right: 32px;
    position: absolute;
    top: 5px;
}
#box{
    position: absolute;
    background-color: greenyellow;
    height: 100px;
    width: 100px;
    z-index: 0;
}