body{
    background-color: white;
    height: 3000px;
}
.darkmode{
    color: black;
}
#title {
    background-color: yellow;
    font-family: Comic Neue;
    padding: 10px;
    padding-top: 10px;
    margin: 0px
}
#ball{
    position: absolute;
}
#backdoor {
    background-color: white;
    border: 3px solid black;
    padding: 7px;
    float: right;
    width: 180px;
    border-radius: 5px;
    margin-right:6px;
}
#theme {
    position: absolute;
    right: 10px;
    top: 5px;
}
#themelabel{
    right: 32px;
    position: absolute;
    top: 5px;
}
